<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
  {% block title %}
         {% if title %}
        {{ title }} - Local EnteroBase
        {% else %}
        Local EnteroBase
        {% endif %}
        {% endblock %}
  </title>
{% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href={{url_for('static',filename='js/bootstrap.min.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='js/font-awesome.min.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/jquery-ui.min.css')}}>
    <link rel="stylesheet" href={{url_for('static',filename='css/jquery.dataTables.min.css')}}>
    <script src="static/js/main.js"></script>
    <script src="static/js/SlickGrid-2.4.15/lib/jquery-1.12.4.min.js"></script>


    <!--script src="static/js/jquery-1.11.3.min.js"></script-->
    <script src="static/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href={{url_for('static',filename='css/main/main.css')}}>
        <link rel="stylesheet" href="static/js/SlickGrid-2.4.15/examples/examples.css" type="text/css"/>

    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/databases_utils.js"></script>
    <script src="static/js/popper.min.js"></script>

      <style type="text/css">
        .nav_class{
            margin: 20px;
        }
        .navbar{
            margin-bottom: 1rem;
        }
    </style>

    <script type="text/javascript">
    $(document).ready(function(){ set_background_func();})
    </script>
{% endblock %}
</head>
{% endblock %}

<body>
<div class="nav_class" id="name_base" >
     {% if instance_name %}
     <label class="navbar-brand"  id="main_label" font="18"> {{ instance_name}} - EnteroBase</label>
        {% else %}
     <label class="navbar-brand" id="main_label"  font="18">Local EnteroBase</label>
     {% endif %}

</div>

<div class="nav_class">
   <nav class="navbar navbar-expand-lg navbar navbar-heavy" style="background-color: #e3f2fd;">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse9">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse9">
            <div class="navbar-nav">
                <a href="{{ url_for('routes.main') }}" class="nav-item nav-link active">Home</a>

                {#{self._TemplateReference__context.name }#}
                {% block add_menue_items %}

                {% endblock %}


            <!--/div>

          <div class="form-inline ml-auto"-->
                		{% if current_user.is_admin == 1 %}


               <div id="main_nav_bar" class="nav-item dropdown">
                   <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Admin Tools</a>
                  <div class="dropdown-menu">

                      <!--a href="{{ url_for('routes.register_client')}}" class="dropdown-item">Register Local EnteroBase Website</a>
                      <a href="{{ url_for('routes.update_system_configuration') }}" class="dropdown-item">System Configurations<setting></setting></a>
                      <a href="#" class="dropdown-item">Users Management<setting></setting></a>
                      <a href="#" class="dropdown-item">Jobs Management<setting></setting></a-->
                      <a href="{{ url_for('routes.update_system_configuration') }}" class="dropdown-item">System Configurations<setting></setting></a>
                      <!--{% if is_register_request_submitted and has_Been_test=='No'%} -->
                      <a href="{{ url_for('routes.test_upload_files') }}" class="dropdown-item">File Upload Test<setting></setting></a>
                      <!--{% endif %} -->
                      <a href="#" class="dropdown-item">Users Management<setting></setting></a>
                      <a href="#" class="dropdown-item">Jobs Management<setting></setting></a>
                  </div>
                  </div>
	       {% endif %}

             {% if it_is_not_registered is sameas True %}
             <a class="nav-item nav-link active" href="{{ url_for('routes.update_system_configuration') }}" >System Configurations</a>
             {% elif current_user.is_anonymous %}


            <a class="nav-item nav-link active" href="{{ url_for('routes.login') }}" >Sign in with Warwick EnteroBase</a>
            {% else %}
              <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('routes.logout') }}" >Sign out</a>
                    </div>
                </div>
            {% endif %}
            <a href="#"  class="nav-item nav-link active">Help</a>
            <!--
            <form >
                <input type="text" class="form-control mr-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-primary">Search</button>
            </form>
            -->
            </div>
        </div>
    </nav>


</div>

<!-- The Modal -->
  <div class="modal fade" id="modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 id ="messageHeader" class="modal-title">Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div  class="modal-body">
        <p id="messageBody">Message </p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button id ="moelButton" type="messageButton" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}

        {% endblock %}
    </div>

</body>
</html>
