{% extends "base.html" %}

{% block app_content %}

<div class="container">
        <h2>Local EnteroBase Registration</h2>

<div class="col-lg-8">
<form action="{{ url_for('routes.register_client') }}" method="post">
      <d1>
        {{client_reg_form.csrf_token}}

     {{wtf.form_field(client_reg_form.Local_Name)}}
    {{wtf.form_field(client_reg_form.Local_Name)}}
    {{wtf.form_field(client_reg_form.Local_Description)}}
    <input class="btn btn-primary" type="submit" value="Register">
        </d1>
</form>
</div>
    <br>

    <h2>System Configuration</h2>

    <div class="col-sm-12 col-md-9">

        <!--"btn btn-primary"-->



<form action="{{ url_for('routes.update_system_configuration') }}" method="post">
    <d1>
        {{sys_config_form.csrf_token}}

    {{ wtf.quick_form(sys_config_form) }}
    {{wtf.form_errors(sys_config_form, hiddens=True)}}
       <input class="btn btn-primary" type="submit" value="Submit">
    </d1>

</form>
</div>





   <br>
   <span style="color: blue;">* This configuration will be used to register your local EnteroBase with Warwick EnteroBase</span>
   <br>
   <span style="color: blue;">** This Change require a restart of the system</span>
</div>
{% endblock %}