{% extends "base.html" %}
    {% block add_menue_items %}

    <link rel="stylesheet" href="static/js/SlickGrid-2.4.15/slick.grid.css" type="text/css"/>

    <link rel="stylesheet" href="static/js/SlickGrid-2.4.15/controls/slick.pager.css" type="text/css"/>

    <link rel="stylesheet" href="static/js/SlickGrid-2.4.15/css/smoothness/jquery-ui.css" type="text/css"/>
    <link rel="stylesheet" href="static/js/SlickGrid-2.4.15/controls/slick.columnpicker.css" type="text/css"/>
    <link rel="stylesheet" href="static/js/SlickGrid-2.4.15/controls/slick.gridmenu.css" type="text/css"/>
    <link rel="stylesheet" href="static/js/SlickGrid-2.4.15/controls/slick.pager.css" type="text/css"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">


    <script src="static/js/dataTables.select.min.js"></script>
    <script src="static/js/dataTables.select.min.js"></script>
    <script src="static/js/progressbar.min.js"></script>

    <script src="static/js/SlickGrid-2.4.15/lib/firebugx.js"></script>

    <script src="static/js/SlickGrid-2.4.15/lib/jquery-ui.min.js"></script>
    <script src="static/js/SlickGrid-2.4.15/lib/jquery-ui-1.8.16.custom.min.js"></script>

    <script src="static/js/SlickGrid-2.4.15/lib/jquery.event.drag-2.3.0.js"></script>
    <script src="static/js/SlickGrid-2.4.15/slick.core.js"></script>
    <script src="static/js/SlickGrid-2.4.15/slick.formatters.js"></script>
    <script src="static/js/SlickGrid-2.4.15/slick.grid.js"></script>
    <script src="static/js/SlickGrid-2.4.15/slick.dataview.js"></script>
    <script src="static/js/SlickGrid-2.4.15/slick.groupitemmetadataprovider.js"></script>
    <script src="static/js/SlickGrid-2.4.15/controls/slick.gridmenu.js"></script>

    <script src="static/js/SlickGrid-2.4.15/controls/slick.pager.js"></script>

    <script src="static/js/SlickGrid-2.4.15/slick.editors.js"></script>
    <script src="static/js/SlickGrid-2.4.15/plugins/slick.cellrangedecorator.js"></script>
    <script src="static/js/SlickGrid-2.4.15/plugins/slick.cellrangeselector.js"></script>
    <script src="static/js/SlickGrid-2.4.15/plugins/slick.cellselectionmodel.js"></script>
    <script src="static/js/SlickGrid-2.4.15/controls/slick.pager.js"></script>
    <script src="static/js/SlickGrid-2.4.15/controls/slick.columnpicker.js"></script>



 <script src="static/js/SlickGrid-2.4.15/plugins/slick.checkboxselectcolumn.js"></script>
<script src="static/js/SlickGrid-2.4.15/plugins/slick.autotooltips.js"></script>
 <script src="static/js/SlickGrid-2.4.15/plugins/slick.cellcopymanager.js"></script>
<script src="static/js/SlickGrid-2.4.15/plugins/slick.rowselectionmodel.js"></script>


    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
<div>

        {% if databases %}
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Available Databases</a>
        <div class="dropdown-menu">
            {% for database in databases %}
              <!--a href="{{url_for('routes.upload_reads_database_page', database=database.name, title=database.label)}}" class="dropdown-item">{{database.label}}</a-->
            <a href="{{url_for('routes.database_page', database=database.name, title=database.label)}}" class="dropdown-item">{{database.label}}</a>

             {% endfor %}

        </div>
    </div>
{% endif %}

</div>

{% endblock %}

{% block app_content %}

<script>


</script>

    <div class="container-fluid">
  <div class="row">
    <div id="dbase_page_nav" class="w-20">
      <h4>{{title}}</h4>
        <br>
      <li class="nav nav-pills nav-stacked" role="navigation" >
          <li class="dropdown-item"><a href= "{{url_for('routes.database_page', database=database, title=title)}}" > Upload Single Strain</a></li>
        <li class="dropdown-item"><a href= "{{url_for('routes.upload_reads_database_page', database=database, title=title)}}" > Upload Multiple Strains</a></li>
        <li class="dropdown-item"><a href="{{url_for('routes.get_my_jobs_status',database=dataqbase, title=title)}}">Jobs Status</a></li>
    </div>
    <div class="col-8 text-left">

{% block db_content %}

{% endblock %}
    </div>

    </div>
</div>

{% endblock %}