{% extends "database_base.html" %}
{% import "form_macro.html" as forms %}
z
{% block db_content %}
<script>
// add client checks to the strain metadata submit form
var user_files_list = '{{ user_files_list }}';
var strainMetadataGridTableForm ='{{strainMetadataGridTableForm}}';
var continents_countries={{continents_countries|safe}};
var strain_url = "{{ url_for('routes.save_starin_raw_data') }}";
var csrf_token="{{ strain_metadata_from.csrf_token._value() }}";

var job_status = "{{ url_for('routes.get_my_jobs_status') }}";

</script>

<div class="col-lg-7" align="left">





<br>
    <div id="loading" style="display:none;"><img src="static/img/icons/large_wait.gif" alt="" />Uploading metadata and read files, please wait!</div>

   <div class="col-lg-7" id ="title_metadata">
       <table  class="table-dark">
           <tr>    <h4>Add Strain/s Metadata</h4>
               <br> </tr>
           <tr></tr>
           <tr></tr>
           <tr>
       <td>
    Release Period* (Months)</td>
       <td>
    <input id="release_date" type= "number", onkeydown="return false"  min= "0", max="12" value="0" class=".slds-input_counter">
           <!---
           -->
       </td>
           </tr>
           </table>
       </div>
       <div class="col-lg-7" id ="title_upload_files" style="display:none;">
           <h4>Please wait, uploading the read files</h4>
           <div id ="messages"  style="display:none;">
    <!--h4 id ="upload_files_txt"> Please wait, uploading the read files</h4->
    <br>
     <!--progress id="progBar" value="10" max="100">
    </progress-->
<br>

    <!--button type="button" onclick="cancell_function()" class="btn btn-danger">Cancel</button-->

</div>
       </div>

    <br>

{% if strain_metadata_from %}

 <div id ="strain_tabme" class="col-lg-8">


<form id ="files_form" name="files_form" action="{{ url_for('routes.database_page') }}"  method="post" enctype="application/x-www-form-urlencoded" style="display:none;">
    <input id ="upload_btn" class="btn btn-primary" type="submit"  value="Upload Files" onclick="">
    <br>
     <br>
</form>

<form id ="meta_form" name="strain_form" action="{{ url_for('routes.database_page') }}"  onsubmit="return validateMetaForm()"  method="post"  enctype="application/x-www-form-urlencoded">
    <!--enctype="multipart/form-data--">


    <!--"multipart/form-data"-->
            {{ strain_metadata_from.hidden_tag() }}
            {{ strain_metadata_from.csrf_token ()}}

         <table   class="table table-bordered table-darktable table-striped">
               <thead>
    <tr>

    </tr>
  </thead>
        <tbody>
      <d1>
          {% for field in strain_metadata_from %}
                  <tr>
               {% if field.type == "FieldList" %}
          <td class="table-warning" > {{field.label}} </td>
                     {% for field_ in field %}
                     {% for field__ in field_ %}
    {% if field__.type !="CSRFTokenField"  %}
    <td align="right"   >{{field__.label}}</td><td  align=”center"> {{field__}}</td>
    {% endif %}
                    {% endfor %}
                    {% endfor %}
           {% elif  field.type !="CSRFTokenField"  %}

          <td colspan="2">{{field.label}}</td> <td > {{field}}</td>
          {% endif %}
                  </tr>
          {% endfor %}
        </d1>
        </tbody>
         </table>
                 <input id ="submit_btn" class="btn btn-primary" type="submit"  value="Submit" onclick="">

</form>
    <br>

</div>
    <!--span style="color: blue;">* Required fields</span-->
          {% endif %}
                   {% if strainMetadataGridTableForm %}

    {{required_fields}}

    <br>
    <div class="col-lg-4" align="left">
        <form id ="meta_tabl_form" name="strain_form" action="{{ url_for('routes.database_page') }}"  onsubmit="return validateMetaForm()"  method="post" enctype="multipart/form-data">
         <table id= "strains_table" class="table table-striped">
             <thead >
                   <tr>
                           {% for field__  in strainMetadataGridTableForm.strain_rows[0] %}
        {% if field__.type !="CSRFTokenField"  %}
                                      <th scope="col">{{field__.label}}</th>

    {% endif %}
                {% endfor %}

               </tr>
  </thead>
        <tbody>
            {{ strainMetadataGridTableForm.csrf_token }}
            {% for grid_record in strainMetadataGridTableForm.strain_rows %}
                <tr>
                    <!--onClick="sub_group_Function(event)" onmouseleave="set_not_visible(event)"---->
                    {% for field in grid_record %}
               {% if field.type == "FieldList" %}
<td align=”center" >
    <ul class="list-group">

                     {% for field_ in field %}
                     {% for field__ in field_ %}

    {% if field__.type !="CSRFTokenField"  %}
               <li class="list-group-item list-group-item-info">
             {{field__.label}}
                   {% if field__.label in required_fields  %}
         I am the one
                   {% endif %}
                   {{field__}}</li>
    {% endif %}
                    {% endfor %}
                    {% endfor %}

    </ul>
        </td>

           {% elif  field.type !="CSRFTokenField"  %}


           <td > {{field}}</td>
          {% endif %}
          {% endfor %}

            <!----->

              <!----
                    {% for field in grid_record %}
                        <td>{{ field() }}</td>
                    {% endfor %}
                    --->
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <input id ="submit_btn_2" class="btn btn-primary" type="submit"  value="Submit" onclick="">

</form>
    </div>
    {% endif %}
<script>


document.addEventListener('DOMContentLoaded', set_default() , false);
try
{
document.getElementById("Location-0-continent").onchange = function() {continents_countriesValideForm()};
document.getElementById("Location-0-country").onchange = function() {continents_countriesValideForm()};
document.getElementById("Readfile2").onchange = function() {fileValideForm()};
document.getElementById("Readfile1").onchange =  function() {fileValideForm()};
}
  catch(error) {
}
</script>

</div>
{% endblock %}