{% extends "main.html" %}
{% block app_content %}
    <div  class="col-sm-12 col-md-2">
        <label class="list-group-item list-group-item-action active">
        Available Databases
  </label>
 <br>

    <div class="list-group"  >
            {% for database in databases %}

      <a class="list-group-item list-group-item-action" href="{{url_for('routes.database_page', database=database.name, title=database.label)}}">{{ database.label }}</a>
        <!--a class="list-group-item list-group-item-action" href="{{url_for('routes.upload_reads_database_page', database=database.name, title=database.label)}}">{{ database.label }}</a-->


     {% endfor %}
        </div>
</div>
{% endblock %}