.green {
      background-color: GreenYellow;
    }
    .red {
      background-color: red;
    }
    .orange {
      background-color: SandyBrown;
    }
    .yellow {
      background-color: Linen;
    }
    .blue {
      color: rgb(73, 73, 255);
    }
    .orange_ {
      color: orange;
    }
    .red_ {
      color: red;
    }
    .bold {
      font-weight: bold;
    }
    .italic {
      font-style: italic;
    }
    .slick-headerrow-column {
      background: #BDD8E0;
      text-overflow: clip;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .slick-headerrow-column input {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .icon-help {
      background-image: url(static/js/SlickGrid-2.4.15/images/help.png);
    }
    /** you could optionally style the grid menu column picker list with font-awesome checkboxes */
    .slick-gridmenu-list li {
      margin: 4px;
    }
    .slick-gridmenu-list label {
      padding: 1px;
      display: block;
      cursor: pointer;
    }

    #slickgrid input[type=checkbox],
    .slick-gridmenu-list input[type=checkbox] {
      //display:none; /* to hide the checkbox itself */
    }
    #slickgrid input[type=checkbox] + label:before,
    .slick-gridmenu-list input[type=checkbox] + label:before {
      cursor: pointer;
      font-family: FontAwesome;
      color: #013668;
      font-weight: bold;
      display: inline-block;
      content: "\f00c";
      font-size: 13px;
      margin-right: 4px;
    }
    #slickgrid input[type=checkbox] + label:before,
    .slick-gridmenu-list input[type=checkbox] + label:before {
      opacity: 0.2; /* unchecked icon */
    }
    #slickgrid input[type=checkbox]:checked + label:before,
    .slick-gridmenu-list input[type=checkbox]:checked + label:before {
      opacity: 1; /* checked icon */
    }