.select2-container {
		top: -3px;
		left: -6px;

	}
    .select2-container .select2-selection--single {
		height: 26px;
	}


    .slick-preheader-panel.ui-state-default  {
      width: 100%;
      overflow: hidden;
      border-left: 0px !important;
      border-bottom: 0px !important;
    }
    .slick-preheader-panel .slick-header-columns {
      border-bottom: 0px !important;
      text-align: center;
    }

    .blue {
      color: rgb(73, 73, 255);
       background-color: blue;

    }
    .orange {
      color: orange;
    }
    .red {
      color: red;
      background-color: Tomato;

    }
    .bold {
      font-weight: bold;
    }
    .italic {
      font-style: italic;
    }
    .slick-headerrow-column {
      background: #BDD8E0;
      text-overflow: clip;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .slick-headerrow-column input {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .icon-help {
      background-image: url(static/js/SlickGrid-2.4.15/images/help.png);
    }
    /** you could optionally style the grid menu column picker list with font-awesome checkboxes */
    .slick-gridmenu-list li {
      margin: 4px;
    }
    .slick-gridmenu-list label {
      padding: 1px;
      display: block;
      cursor: pointer;
    }
    #slickgrid input[type=checkbox],
    .slick-gridmenu-list input[type=checkbox] {
      //display:none; /* to hide the checkbox itself */
    }
    #slickgrid input[type=checkbox] + label:before,
    .slick-gridmenu-list input[type=checkbox] + label:before {
      cursor: pointer;
      font-family: FontAwesome;
      color: #013668;
      font-weight: bold;
      display: inline-block;
      content: "\f00c";
      font-size: 13px;
      margin-right: 4px;
    }
    #slickgrid input[type=checkbox] + label:before,
    .slick-gridmenu-list input[type=checkbox] + label:before {
      opacity: 0.2; /* unchecked icon */
    }
    #slickgrid input[type=checkbox]:checked + label:before,
    .slick-gridmenu-list input[type=checkbox]:checked + label:before {
      opacity: 1; /* checked icon */
    }
    .slick-cell-checkboxsel {
      background: #f0f0f0;
      border-right-color: silver;
      border-right-style: solid;
    }
    .slick-group-title[level='0'] {
      font-weight: bold;
    }
    .slick-group-title[level='1'] {
      text-decoration: underline;
    }
    .slick-group-title[level='2'] {
      font-style: italic;
    }
    #slickgrid input[type=checkbox] { display:none; } /* to hide the checkbox itself */
    #slickgrid input[type=checkbox] + label:before {
      cursor: pointer;
      font-family: FontAwesome;
      color: rgb(143, 14, 106);
      font-weight: bold;
      display: inline-block;
      content: "\f00c";
      font-size: 13px;
    }