#uoload_file_progress {
  width: 80%;
  background-color: #ddd;
}

#test_upload_files {
  width: 0%;
  height: 30px;
  background-color: #0000FF;//#4CAF50;
}

.ul_tools{
    display:inline-block;
}
.content {
    position: relative;
    width: 100%;
    z-index: 5;
    border-radius: 0 3px 3px 3px;
}

.content div {
    padding: 10px 40px;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}
.menu_items li{
    display:inline-block;
    width:340px;
}